
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Yeni kullanici Ekle</h2>
        <br />
        <label>Başlık</label>
        <input type="text" class="form-control" name="Username" placeholder="Kullanici adi yazınız..." />
        <label>Alt Başlık</label>
        <input type="text" class="form-control" name="Password" placeholder="Sifre yazınız..." />        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>

