
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Hakkimda menusu</h1>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Sehir</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Serdar</td>
        <td>Kocaeli</td>
    </tr>
</table>