
@{
    ViewBag.Title = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Yeni Yetenek Ekle</h2>
        <label>Yetenek</label>
        <input type="text" class="form-control" name="Skill" placeholder="Yeteneginizi yazınız..." />
        <label>Oran</label>
        <input type="text" class="form-control" name="Ratio" placeholder="Yetenek oraninizi yazınız..." />   <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>

