@model MVCCV.Models.Entity.Certificate
@{
    ViewBag.Title = "CertificateGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sertifika Düzenle</h2>

<div class="resume-section-content">
    <form method="post">
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.CertificateDate, new { @class = "form-control" })
        <br />
        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.Definition, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    </form>
</div>

